
.nav-item a {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.nav-item:hover a {
    background-color: #4dc0b5;
    color: white;
}

a {
    margin-bottom: -1px;
}

/* NAV */
#header li {
    margin-bottom: -1px;
}

/* SIDEBAR */
#sidebar {
    width: 20%;
    position: fixed;
}

#sidebar h4 {
    color: #1B9972;
}

#sidebar a {
    font-size: 14px;
}

#sidebar ul {
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar li {
    margin-bottom: 1px;
}

li.dropdown-right:hover .dropdown-menu {
    display: inline-block;
}

#sidebar .dropdown-menu {
    margin-top: -1px;
}


/* NAV */
#header {
    margin: auto;
    background-color: #4dc0b5;
}
#header .dropdown-bottom:hover .dropdown-menu {
    display: inline-block;
}

#header .dropdown-bottom .dropdown-menu a:hover {
    color: black;
}

#header a.dropdown-item.dropdown-toggle:hover .sub-item {
    display: inline-block;
}

.hotline {
    color: #F51D3E;
    border-radius: 10px;
}

.hotline h1 {
    text-decoration: underline;
}

.hotline h5 {
    font-size: 20px;
}

.dropdown-menu {
    margin-top: -1px;
}
/* PRIMARY */
.container {
    width: 60%;
}

.container.two-columns {
    background-color: white;
}

.container #primary {
    width: 70%;
    padding-top: 50px;
    margin: auto;
}

.resize80 {
    width: 80%;
    margin: 30px;
    padding: 0 25px;
}

.resize90 {
    width: 90%;
    margin: 30px;
}

/* FOOTER */
footer {
    background-color: #4dc0b5;
}

footer address {
    margin-bottom: 0;
    padding-bottom: 10px;
}

footer a {
    color: bisque;
}

@media screen and (max-width: 1370px) {
    #sidebar {
        display: none;
    }
}
