
.nav-item > a {
    font-size: 1rem;
    font-weight: 600;
}

a {
    margin-bottom: -1px;
}

/* NAV */
#header li {
    margin-bottom: -1px;
}

/* SIDEBAR */
#sidebar {
    width: 20%;
    position: fixed;
}

#sidebar a {
    font-size: 14px;
}

#sidebar ul {
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar li {
    margin-bottom: 1px;
}

li.dropdown-right:hover .dropdown-menu {
    display: inline-block;
}

#sidebar .dropdown-menu {
    margin-top: -1px;
}


/* NAV */
#header {
    margin: auto;
}
#header .dropdown-bottom:hover .dropdown-menu {
    display: inline-block;
}

#header a.dropdown-item.dropdown-toggle:hover .sub-item {
    display: inline-block;
}

.hotline {
    border-radius: 10px;
}

.hotline h1 {
    text-decoration: underline;
}

.hotline h5 {
    font-size: 20px;
}

.dropdown-menu {
    margin-top: -1px;
}
/* PRIMARY */
.container {
    width: 60%;
}

.container #primary {
    margin: auto;
}

.resize80 {
    width: 80%;
    margin: 30px;
    padding: 0 25px;
}

.resize90 {
    width: 90%;
    margin: 30px;
}

/* FOOTER */

footer address {
    margin-bottom: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 1370px) {
    #sidebar {
        display: none;
    }
}
