html {
    font-size: 14px;
}

.nav-item a {
    color: black;
}

.nav-item:hover a {
    background-color: #fff;
}

#sidebar h4 {
    color: #1B9972;
}

/* NAV */
#header {
    margin: auto;
    background-color: #ffa801;
}

#header .logo {
    width: 100%;
}

#header .dropdown-bottom .dropdown-menu a:hover {
    color: black;
}

.hotline {
    color: #fff;
}

.phone-no {
    color: #505050;
    font-weight: 600;
}

.phone-no:hover {
    text-decoration: none;
}

.container.two-columns {
    background-color: white;
}

.menu-wrapper {
    background: #ffc048;
}

/* FOOTER */
footer {
    background-color: #ffa801;
}


footer a {
    color: bisque;
}
